/* grab all spans */
form > span{
    color: purple;
}
/* background and text color */
body{
    background-color: gray;
    color: plum;
    margin-left: 5%;
    margin-right: 5%;
}
 /* formatting letters */
h1, form label, form button, form span{
    text-align: center;
    font-family: 'Playfair Display', serif;
}
/* spaces between text boxes. */
input[type=text]{
    margin-bottom: 1em;
}
/* align lables */
form > label{
    display: inline-block;
    text-align: right;
    width: 50%;
    margin-right: .5em;
}
/* button features */
form > button{
    margin-left: 50%;
    border-radius: .3em;
    background-color: plum;
    color: white;
    cursor: pointer;
}
/* hover effect */
button:hover{
    background-color: purple;
}
/* center labels */
form{
    padding-right: 4em;
}
/* screen size display for different devices. */
@media only screen and (max-width: 475px){
    /* for smaller screens */
    form > label{
        text-align: left;
        width: 100%;
    }
    form > button{
        margin-left: 0%;
    }
}